.cat-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-radius: .35rem;
    border: 1px solid rgba(0, 0, 0, 0.747);
    padding: .15rem .35rem;
    margin: .35rem;
    cursor: pointer;
}

.categories {
    text-align: center;
    width: 50%;
}

.cat-name {
    text-align:left;
    font-weight: 500 !important;
    font-size: 18px;
    border: solid black 1px;
    padding: 9px;
    width: 100%;
}

.cat-list-cont {
    display: flex;
    justify-content: space-around;
}

.cat-btn-name {
    font-weight: 500;
    font-size: 12px;
}


.list-wrapper,
.cat-btn-list-title {
    margin-left: 2rem;
    padding: 0 0;
    max-width: 70%;
    max-height: 40%;
}

.catListContainer {
    display: flex;
    justify-content: space-around;
}

.categoryForm {
    border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    text-align: center;border: 1px solid;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
}
.category-list__heading{
    font-size: 30px;
    pointer-events: none;
}
/* STYLING INDIVIDUAL TAGS IN TAG LIST */
.category {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}
.category-label__container {
    border: solid rgba(0, 0, 0, 0.712) 1px;
    padding: 9px 20px;
    width: 100%;
}
.category__label{
    font-size: 25px;
    margin: 0 0;
    cursor: pointer;
}

/* STYLING TAG EDIT/DELETE FORMS */
.edit-category-form__container,
.delete-category-form__container {
    position: absolute;
    display: flex;
    top: 15%;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.774);
    z-index: 6;
}
.fade-in {
    animation: fadeIn .35s;
}
.fade-out {
    animation: fadeOut .35s;
}

.change_category_form,
.remove_category_form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 3%;
    text-align: center;
    background-color: gray !important;
    color: white !important;
    max-width: 500px;
    min-width: 400px;
    max-height: 225px;
    min-height: 200px;
    position: absolute;
    top: 5%;
    z-index: 6;
}

.toprow {
    display: flex;
    flex-flow: row;
}
.toprowblank{
    width: 90%;
}
.x {
    cursor: pointer;
    width: 10%;
    position: absolute;
    right: 5%;
    top: 7%;
    font-size: larger;
}
.categoryForm_label {
    font-size: 20px;
    margin: 0;
    pointer-events: none;
}
.deleteCategoryForm_label{
    font-size: 18px;
    margin: 0;
    pointer-events: none;
}
.input__container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.edit-category-input:focus {
    outline: none;
}
.category-input:focus {
    outline: none;
    border-color: rgba(29, 29, 29, 0.795)

}
.category-input {
    border-color: rgba(211, 211, 211, 0.685);
}
.new_category_form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 15px;
    padding: 4%;
    text-align: center;
    max-width: 400px;
    min-width: 350px;
    max-height: 250px;
    min-height: 200px;
}
.button__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}
.create-category__btn {
    min-width: 80px;
    max-width: 100px;
    height: 40px;
    outline: none;
    font-size: 18px;
    cursor:pointer;
    border-radius: .35rem;
    margin-right: 0;
}
.create-category__btn:disabled {
    opacity: .5;
    pointer-events: none;
}
.create-categoryForm_label{
    font-size: 25px;
    margin-bottom: .5rem;
}
.input__container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.delete-category-form__category {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 25px;
    pointer-events: none;
}
.button__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}
.saveCategoryButton {
    min-width: 115px;
    max-width: 175px;
    height: 40px;
    outline: none;
    font-size: 14px;
}
.edit-category-form__cancel,
.edit-category-form__save,
.delete-category-form__save,
.delete-category-form__cancel {
    min-width: 115px;
    max-width: 175px;
    height: 40px;
    outline: none;
    font-size: 14px;
}
.edit-category-form__save:disabled {
    opacity: .5;
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0
    }
}

/* STYLING FOR EDIT AND DELETE BUTTONS */
.edit-category__button,
.delete-category__button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: .35s;
    opacity: .6;
    transform: scale(.8, .8);
    background-color: transparent;
}
.edit-category__button {
    background: url("../tags/gear_icon.png") no-repeat center;
    background-size: cover;
}
.edit-category-button__spacer,
.delete-category-button__spacer {
    height: 20px;
    width: 20px;
}
.delete-category__button {
    background: url("../tags/trashcan_icon.png") no-repeat center;
    background-size: cover;

}
.edit-category__button:hover,
.delete-category__button:hover {
    background-color: transparent;
    opacity: 1;
}
.edit-category-button__spacer,
.delete-category-button__spacer{
    height: 20px;
    width: 20px;
}

